
<h1>{{fractal.fractal_name}}</h1>
<a href="{% url 'recursion:index' %}">Back to List</a>
<br>
{% load static %}
Iterations: <input type="range"  min="0" max="{{max_lvl}}" value="{{recursion_lvl}}" style="width: 300px;" oninput="showValue(this.value)" onchange="reqNewIter(this.value)"/>
<span id="range">{{recursion_lvl}}</span>
<br>


<script type="text/javascript">
function showValue(newValue)
{
	document.getElementById("range").innerHTML=newValue;
}

function reqNewIter(newValue)
{
	destination = "http://" + window.location.host + "/recursion/" + "{{fractal.id}}/" + newValue;

	window.location = destination;
}
</script>
<img src="{% static "recursion/fractal_img_" %}{{fractal.id}}_{{recursion_lvl}}.png?no_cache={{no_cache}}" alt="fractal image"/>

